*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
h2{
    color: transparent;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    font-size: 2.5em;
    background:#333;
    background: -webkit-linear-gradient(left, #333, #007BFF, #333);
    background: linear-gradient(to right, #333, #007BFF, #333);
    -webkit-background-clip: text;
    background-clip: text;
}
button{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #ff0b0b;
}